<section id="hb_header">
    <div class="container">
        <div class="hb_logo"><img src="assets/images/harbor-logo.png" alt="Hrbor Kiosk"/></div>
        <!-- <h3 class="hb_header_text">Welcome to Harbor Kiosk</h3> -->
        <p class="text-center" style="font-size: 20px; margin-bottom: 50px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br/>incididunt ut labore et dolore magna aliqua.</p>
    </div>
</section>

<section>
    <div class="container">
        <ul class="HomeMenuUl">
            <li>
                <a routerLink="/patient-registration" class="hb_menu_box">
                    <i class="fas fa-users iconStyle"></i>
                    <p class="menuContent">Patient<br/>Registration</p>
                </a>
            </li>
            <li>
                <a href="#" class="hb_menu_box">
                    <i class="fas fa-user-md iconStyle"></i>
                    <p class="menuContent">Know Your<br/>Doctor/Hospital</p>
                </a>
            </li>
            <li>
                <a href="#" class="hb_menu_box">
                    <i class="fas fa-frown iconStyle"></i>
                    <p class="menuContent">Know Your<br/>Disease/Treatment</p>
                </a>
            </li>
            <li>
                <a href="#" class="hb_menu_box">
                    <i class="fas fa-dumbbell iconStyle"></i>
                    <p class="menuContent">Exercise Routines<br/>Know Your Food</p>
                </a>
            </li>            
            <li>
                <a href="#" class="hb_menu_box">
                    <i class="fas fa-file-invoice-dollar iconStyle"></i>
                    <p class="menuContent">View &amp;<br/>Pay Bill</p>
                </a>
            </li>
            <li>
                <a href="#" class="hb_menu_box">
                    <i class="fas fa-file-upload iconStyle"></i>
                    <p class="menuContent">Scan &amp;<br/>Upload Reports</p>
                </a>
            </li>
            <li>
                <a href="#" class="hb_menu_box">
                    <i class="fas fa-file-prescription iconStyle"></i>
                    <p class="menuContent">View RX &amp;<br/>Other Clinical Data</p>
                </a>
            </li>
            <li>
                <a href="#" class="hb_menu_box">
                    <i class="fas fa-taxi iconStyle"></i>
                    <p class="menuContent">Transport Info<br/>Book Cabs</p>
                </a>
            </li>
            <li>
                <a href="#" class="hb_menu_box">
                    <i class="fas fa-utensils iconStyle"></i>
                    <p class="menuContent">Nearest ATMs,<br/>Eateries</p>
                </a>
            </li>
        </ul>
    </div>
</section>
